@layer utilities {
  .focus-visible\:ring-\[3px\]:focus-visible {
    --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(3px + var(--tw-ring-offset-width))
      var(--tw-ring-color, currentcolor);
    box-shadow:
      var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow),
      var(--tw-ring-shadow), var(--tw-shadow);
  }
  .focus-visible\:ring-ring:focus-visible,
  .focus-visible\:ring-ring\/50:focus-visible {
    --tw-ring-color: hsl(var(--ring));
  }
  @supports (color: color-mix(in lab, red, red)) {
    .focus-visible\:ring-ring\/50:focus-visible {
      --tw-ring-color: color-mix(in oklab, hsl(var(--ring)) 50%, transparent);
    }
  }
  .focus-visible\:ring-offset-1:focus-visible {
    --tw-ring-offset-width: 1px;
    --tw-ring-offset-shadow: var(--tw-ring-inset,) 0 0 0 var(--tw-ring-offset-width)
      var(--tw-ring-offset-color);
  }
  .focus-visible\:ring-offset-2:focus-visible {
    --tw-ring-offset-width: 2px;
    --tw-ring-offset-shadow: var(--tw-ring-inset,) 0 0 0 var(--tw-ring-offset-width)
      var(--tw-ring-offset-color);
  }
  .focus-visible\:ring-offset-background:focus-visible {
    --tw-ring-offset-color: hsl(var(--background));
  }
  .focus-visible\:outline-none:focus-visible {
    --tw-outline-style: none;
    outline-style: none;
  }
  .active\:shadow-none:active {
    --tw-shadow: 0 0 #0000;
    box-shadow:
      var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow),
      var(--tw-ring-shadow), var(--tw-shadow);
  }
  .disabled\:pointer-events-none:disabled {
    pointer-events: none;
  }
  .disabled\:cursor-not-allowed:disabled {
    cursor: not-allowed;
  }
  .disabled\:opacity-50:disabled {
    opacity: 0.5;
  }
  :where([data-side='left']) .in-data-\[side\=left\]\:cursor-w-resize {
    cursor: w-resize;
  }
  :where([data-side='right']) .in-data-\[side\=right\]\:cursor-e-resize {
    cursor: e-resize;
  }
  .has-focus\:border-ring:has(:focus) {
    border-color: hsl(var(--ring));
  }
  .has-focus\:ring-\[3px\]:has(:focus) {
    --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(3px + var(--tw-ring-offset-width))
      var(--tw-ring-color, currentcolor);
    box-shadow:
      var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow),
      var(--tw-ring-shadow), var(--tw-shadow);
  }
  .has-focus\:ring-ring\/50:has(:focus) {
    --tw-ring-color: hsl(var(--ring));
  }
  @supports (color: color-mix(in lab, red, red)) {
    .has-focus\:ring-ring\/50:has(:focus) {
      --tw-ring-color: color-mix(in oklab, hsl(var(--ring)) 50%, transparent);
    }
  }
  .has-data-\[state\=checked\]\:border-primary:has([data-state='checked']) {
    border-color: hsl(var(--primary));
  }
  .has-data-\[state\=checked\]\:bg-primary\/5:has([data-state='checked']) {
    background-color: hsl(var(--primary));
  }
  @supports (color: color-mix(in lab, red, red)) {
    .has-data-\[state\=checked\]\:bg-primary\/5:has([data-state='checked']) {
      background-color: color-mix(in oklab, hsl(var(--primary)) 5%, transparent);
    }
  }
  .has-\[\:disabled\]\:opacity-50:has(:disabled) {
    opacity: 0.5;
  }
  .has-\[\[data-slot\=input-group-control\]\:focus-visible\]\:ring-1:has(
    [data-slot='input-group-control']:focus-visible
  ) {
    --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(1px + var(--tw-ring-offset-width))
      var(--tw-ring-color, currentcolor);
    box-shadow:
      var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow),
      var(--tw-ring-shadow), var(--tw-shadow);
  }
  .has-\[\[data-slot\=input-group-control\]\:focus-visible\]\:ring-ring:has(
    [data-slot='input-group-control']:focus-visible
  ) {
    --tw-ring-color: hsl(var(--ring));
  }
  .has-\[\[data-slot\]\[aria-invalid\=true\]\]\:border-destructive:has(
    [data-slot][aria-invalid='true']
  ) {
    border-color: hsl(var(--destructive));
  }
  .has-\[\[data-slot\]\[aria-invalid\=true\]\]\:ring-destructive\/20:has(
    [data-slot][aria-invalid='true']
  ) {
    --tw-ring-color: hsl(var(--destructive));
  }
  @supports (color: color-mix(in lab, red, red)) {
    .has-\[\[data-slot\]\[aria-invalid\=true\]\]\:ring-destructive\/20:has(
      [data-slot][aria-invalid='true']
    ) {
      --tw-ring-color: color-mix(in oklab, hsl(var(--destructive)) 20%, transparent);
    }
  }
  .has-\[\>\[data-align\=block-end\]\]\:h-auto:has(> [data-align='block-end']) {
    height: auto;
  }
  .has-\[\>\[data-align\=block-end\]\]\:flex-col:has(> [data-align='block-end']) {
    flex-direction: column;
  }
  .has-\[\>\[data-align\=block-start\]\]\:h-auto:has(> [data-align='block-start']) {
    height: auto;
  }
  .has-\[\>\[data-align\=block-start\]\]\:flex-col:has(> [data-align='block-start']) {
    flex-direction: column;
  }
  .has-\[\>\[data-slot\=button-group\]\]\:gap-2:has(> [data-slot='button-group']) {
    gap: calc(var(--spacing) * 2);
  }
  .has-\[\>\[data-slot\=checkbox-group\]\]\:gap-3:has(> [data-slot='checkbox-group']) {
    gap: calc(var(--spacing) * 3);
  }
  .has-\[\>\[data-slot\=field-content\]\]\:items-start:has(> [data-slot='field-content']) {
    align-items: flex-start;
  }
  .has-\[\>\[data-slot\=field\]\]\:w-full:has(> [data-slot='field']) {
    width: 100%;
  }
  .has-\[\>\[data-slot\=field\]\]\:flex-col:has(> [data-slot='field']) {
    flex-direction: column;
  }
  .has-\[\>\[data-slot\=field\]\]\:rounded-md:has(> [data-slot='field']) {
    border-radius: 0.5rem;
  }
  .has-\[\>\[data-slot\=field\]\]\:border:has(> [data-slot='field']) {
    border-style: var(--tw-border-style);
    border-width: 1px;
  }
  .has-\[\>\[data-slot\=radio-group\]\]\:gap-3:has(> [data-slot='radio-group']) {
    gap: calc(var(--spacing) * 3);
  }
  .has-\[\>button\]\:mr-\[-0\.4rem\]:has(> button) {
    margin-right: -0.4rem;
  }
  .has-\[\>button\]\:ml-\[-0\.45rem\]:has(> button) {
    margin-left: -0.45rem;
  }
  .has-\[\>kbd\]\:mr-\[-0\.35rem\]:has(> kbd) {
    margin-right: -0.35rem;
  }
  .has-\[\>kbd\]\:ml-\[-0\.35rem\]:has(> kbd) {
    margin-left: -0.35rem;
  }
  .has-\[\>svg\]\:p-0:has(> svg) {
    padding: calc(var(--spacing) * 0);
  }
  .has-\[\>svg\]\:px-2:has(> svg) {
    padding-inline: calc(var(--spacing) * 2);
  }
  .has-\[\>svg\]\:px-2\.5:has(> svg) {
    padding-inline: calc(var(--spacing) * 2.5);
  }
  .has-\[\>textarea\]\:h-auto:has(> textarea) {
    height: auto;
  }
  .aria-disabled\:pointer-events-none[aria-disabled='true'] {
    pointer-events: none;
  }
  .aria-disabled\:opacity-50[aria-disabled='true'] {
    opacity: 0.5;
  }
  .aria-selected\:text-muted-foreground[aria-selected='true'] {
    color: hsl(var(--muted-foreground));
  }
  .data-\[active\=true\]\:font-medium[data-active='true'] {
    --tw-font-weight: var(--font-weight-medium);
    font-weight: var(--font-weight-medium);
  }
  .data-\[disabled\]\:pointer-events-none[data-disabled] {
    pointer-events: none;
  }
  .data-\[disabled\]\:opacity-50[data-disabled] {
    opacity: 0.5;
  }
  .data-\[disabled\=true\]\:pointer-events-none[data-disabled='true'] {
    pointer-events: none;
  }
  .data-\[disabled\=true\]\:opacity-50[data-disabled='true'] {
    opacity: 0.5;
  }
  .data-\[invalid\=true\]\:text-destructive[data-invalid='true'] {
    color: hsl(var(--destructive));
  }
  .data-\[orientation\=vertical\]\:h-auto[data-orientation='vertical'] {
    height: auto;
  }
  .data-\[panel-group-direction\=vertical\]\:h-px[data-panel-group-direction='vertical'] {
    height: 1px;
  }
  .data-\[panel-group-direction\=vertical\]\:w-full[data-panel-group-direction='vertical'] {
    width: 100%;
  }
  .data-\[panel-group-direction\=vertical\]\:flex-col[data-panel-group-direction='vertical'] {
    flex-direction: column;
  }
  .data-\[panel-group-direction\=vertical\]\:after\:left-0[data-panel-group-direction='vertical']:after {
    content: var(--tw-content);
    left: calc(var(--spacing) * 0);
  }
  .data-\[panel-group-direction\=vertical\]\:after\:h-1[data-panel-group-direction='vertical']:after {
    content: var(--tw-content);
    height: calc(var(--spacing) * 1);
  }
  .data-\[panel-group-direction\=vertical\]\:after\:w-full[data-panel-group-direction='vertical']:after {
    content: var(--tw-content);
    width: 100%;
  }
  .data-\[panel-group-direction\=vertical\]\:after\:translate-x-0[data-panel-group-direction='vertical']:after {
    content: var(--tw-content);
    --tw-translate-x: calc(var(--spacing) * 0);
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }
  .data-\[panel-group-direction\=vertical\]\:after\:-translate-y-1\/2[data-panel-group-direction='vertical']:after {
    content: var(--tw-content);
    --tw-translate-y: -50%;
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }
  .data-\[placeholder\]\:text-muted-foreground[data-placeholder] {
    color: hsl(var(--muted-foreground));
  }
  .data-\[range-end\=true\]\:rounded-md[data-range-end='true'] {
    border-radius: 0.5rem;
  }
  .data-\[range-end\=true\]\:bg-primary[data-range-end='true'] {
    background-color: hsl(var(--primary));
  }
  .data-\[range-end\=true\]\:text-primary-foreground[data-range-end='true'] {
    color: hsl(var(--primary-foreground));
  }
  .data-\[range-middle\=true\]\:rounded-none[data-range-middle='true'] {
    border-radius: 0;
  }
  .data-\[range-middle\=true\]\:bg-accent[data-range-middle='true'] {
    background-color: hsl(var(--accent));
  }
  .data-\[range-middle\=true\]\:text-accent-foreground[data-range-middle='true'] {
    color: hsl(var(--accent-foreground));
  }
  .data-\[range-start\=true\]\:rounded-md[data-range-start='true'] {
    border-radius: 0.5rem;
  }
  .data-\[range-start\=true\]\:bg-primary[data-range-start='true'] {
    background-color: hsl(var(--primary));
  }
  .data-\[range-start\=true\]\:text-primary-foreground[data-range-start='true'] {
    color: hsl(var(--primary-foreground));
  }
  .data-\[selected-single\=true\]\:bg-primary[data-selected-single='true'] {
    background-color: hsl(var(--primary));
  }
  .data-\[selected-single\=true\]\:text-primary-foreground[data-selected-single='true'] {
    color: hsl(var(--primary-foreground));
  }
  .data-\[selected\=true\]\:rounded-none[data-selected='true'] {
    border-radius: 0;
  }
  .data-\[selected\=true\]\:bg-accent[data-selected='true'] {
    background-color: hsl(var(--accent));
  }
  .data-\[selected\=true\]\:text-accent-foreground[data-selected='true'] {
    color: hsl(var(--accent-foreground));
  }
  .data-\[side\=bottom\]\:translate-y-1[data-side='bottom'] {
    --tw-translate-y: calc(var(--spacing) * 1);
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }
  .data-\[side\=left\]\:-translate-x-1[data-side='left'] {
    --tw-translate-x: calc(var(--spacing) * -1);
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }
  .data-\[side\=right\]\:translate-x-1[data-side='right'] {
    --tw-translate-x: calc(var(--spacing) * 1);
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }
}
