@layer utilities {
  @media (min-width: 48rem) {
    .md\:absolute {
      position: absolute;
    }
    .md\:top-6 {
      top: calc(var(--spacing) * 6);
    }
    .md\:left-1\/2 {
      left: 50%;
    }
    .md\:ml-0 {
      margin-left: calc(var(--spacing) * 0);
    }
    .md\:block {
      display: block;
    }
    .md\:flex {
      display: flex;
    }
    .md\:hidden {
      display: none;
    }
    .md\:h-12 {
      height: calc(var(--spacing) * 12);
    }
    .md\:h-20 {
      height: calc(var(--spacing) * 20);
    }
    .md\:h-\[3\.1rem\] {
      height: 3.1rem;
    }
    .md\:min-h-\[92vh\] {
      min-height: 92vh;
    }
    .md\:w-1\/2 {
      width: 50%;
    }
    .md\:w-\[var\(--radix-navigation-menu-viewport-width\)\] {
      width: var(--radix-navigation-menu-viewport-width);
    }
    .md\:w-auto {
      width: auto;
    }
    .md\:max-w-\[420px\] {
      max-width: 420px;
    }
    .md\:-translate-x-1\/2 {
      --tw-translate-x: -50%;
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
    .md\:grid-cols-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .md\:grid-cols-3 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .md\:grid-cols-4 {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .md\:flex-row {
      flex-direction: row;
    }
    .md\:flex-row-reverse {
      flex-direction: row-reverse;
    }
    .md\:border-l-0 {
      border-left-style: var(--tw-border-style);
      border-left-width: 0;
    }
    .md\:p-10 {
      padding: calc(var(--spacing) * 10);
    }
    .md\:p-12 {
      padding: calc(var(--spacing) * 12);
    }
    .md\:pr-16 {
      padding-right: calc(var(--spacing) * 16);
    }
    .md\:pl-0 {
      padding-left: calc(var(--spacing) * 0);
    }
    .md\:pl-16 {
      padding-left: calc(var(--spacing) * 16);
    }
    .md\:text-center {
      text-align: center;
    }
    .md\:text-2xl {
      font-size: var(--text-2xl);
      line-height: var(--tw-leading, var(--text-2xl--line-height));
    }
    .md\:text-3xl {
      font-size: var(--text-3xl);
      line-height: var(--tw-leading, var(--text-3xl--line-height));
    }
    .md\:text-4xl {
      font-size: var(--text-4xl);
      line-height: var(--tw-leading, var(--text-4xl--line-height));
    }
    .md\:text-5xl {
      font-size: var(--text-5xl);
      line-height: var(--tw-leading, var(--text-5xl--line-height));
    }
    .md\:text-6xl {
      font-size: var(--text-6xl);
      line-height: var(--tw-leading, var(--text-6xl--line-height));
    }
    .md\:text-sm {
      font-size: var(--text-sm);
      line-height: var(--tw-leading, var(--text-sm--line-height));
    }
    .md\:text-xl {
      font-size: var(--text-xl);
      line-height: var(--tw-leading, var(--text-xl--line-height));
    }
    .md\:text-\[2\.9rem\] {
      font-size: 2.9rem;
    }
    .md\:text-\[3\.2rem\] {
      font-size: 3.2rem;
    }
    .md\:text-\[3\.15rem\] {
      font-size: 3.15rem;
    }
    .md\:text-\[4\.7rem\] {
      font-size: 4.7rem;
    }
    .md\:opacity-0 {
      opacity: 0;
    }
    .md\:peer-data-\[variant\=inset\]\:m-2:is(:where(.peer)[data-variant='inset'] ~ *) {
      margin: calc(var(--spacing) * 2);
    }
    .md\:peer-data-\[variant\=inset\]\:ml-0:is(:where(.peer)[data-variant='inset'] ~ *) {
      margin-left: calc(var(--spacing) * 0);
    }
    .md\:peer-data-\[variant\=inset\]\:rounded-xl:is(:where(.peer)[data-variant='inset'] ~ *) {
      border-radius: 1rem;
    }
    .md\:peer-data-\[variant\=inset\]\:shadow-sm:is(:where(.peer)[data-variant='inset'] ~ *) {
      --tw-shadow:
        0 1px 3px 0 var(--tw-shadow-color, #0000001a),
        0 1px 2px -1px var(--tw-shadow-color, #0000001a);
      box-shadow:
        var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow),
        var(--tw-ring-shadow), var(--tw-shadow);
    }
    .md\:peer-data-\[variant\=inset\]\:peer-data-\[state\=collapsed\]\:ml-2:is(
        :where(.peer)[data-variant='inset'] ~ *
      ):is(:where(.peer)[data-state='collapsed'] ~ *) {
      margin-left: calc(var(--spacing) * 2);
    }
    .md\:after\:hidden:after {
      content: var(--tw-content);
      display: none;
    }
  }
  @media (min-width: 64rem) {
    .lg\:col-span-2 {
      grid-column: span 2 / span 2;
    }
    .lg\:col-span-3 {
      grid-column: span 3 / span 3;
    }
    .lg\:mb-6 {
      margin-bottom: calc(var(--spacing) * 6);
    }
    .lg\:mb-7 {
      margin-bottom: calc(var(--spacing) * 7);
    }
    .lg\:block {
      display: block;
    }
    .lg\:h-full {
      height: 100%;
    }
    .lg\:max-w-\[56rem\] {
      max-width: 56rem;
    }
    .lg\:grid-cols-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .lg\:grid-cols-3 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .lg\:grid-cols-4 {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .lg\:grid-cols-5 {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
    .lg\:grid-cols-\[1\.1fr_0\.9fr\] {
      grid-template-columns: 1.1fr 0.9fr;
    }
    .lg\:grid-cols-\[1\.3fr_0\.9fr\] {
      grid-template-columns: 1.3fr 0.9fr;
    }
    .lg\:flex-row {
      flex-direction: row;
    }
    .lg\:items-center {
      align-items: center;
    }
    .lg\:items-end {
      align-items: flex-end;
    }
    .lg\:justify-between {
      justify-content: space-between;
    }
    .lg\:gap-6 {
      gap: calc(var(--spacing) * 6);
    }
    .lg\:border-t-0 {
      border-top-style: var(--tw-border-style);
      border-top-width: 0;
    }
    .lg\:border-l {
      border-left-style: var(--tw-border-style);
      border-left-width: 1px;
    }
    .lg\:p-10 {
      padding: calc(var(--spacing) * 10);
    }
    .lg\:p-12 {
      padding: calc(var(--spacing) * 12);
    }
    .lg\:px-8 {
      padding-inline: calc(var(--spacing) * 8);
    }
    .lg\:py-28 {
      padding-block: calc(var(--spacing) * 28);
    }
    .lg\:pt-32 {
      padding-top: calc(var(--spacing) * 32);
    }
    .lg\:pr-16 {
      padding-right: calc(var(--spacing) * 16);
    }
    .lg\:pb-24 {
      padding-bottom: calc(var(--spacing) * 24);
    }
    .lg\:text-3xl {
      font-size: var(--text-3xl);
      line-height: var(--tw-leading, var(--text-3xl--line-height));
    }
    .lg\:text-5xl {
      font-size: var(--text-5xl);
      line-height: var(--tw-leading, var(--text-5xl--line-height));
    }
    .lg\:text-6xl {
      font-size: var(--text-6xl);
      line-height: var(--tw-leading, var(--text-6xl--line-height));
    }
    .lg\:text-\[3\.05rem\] {
      font-size: 3.05rem;
    }
    .lg\:text-\[3\.45rem\] {
      font-size: 3.45rem;
    }
    .lg\:text-\[3\.75rem\] {
      font-size: 3.75rem;
    }
  }
  @media (min-width: 80rem) {
    .xl\:text-7xl {
      font-size: var(--text-7xl);
      line-height: var(--tw-leading, var(--text-7xl--line-height));
    }
    .xl\:text-\[3\.3rem\] {
      font-size: 3.3rem;
    }
    .xl\:text-\[3\.7rem\] {
      font-size: 3.7rem;
    }
  }
  @container field-group (min-width:28rem) {
    .\@md\/field-group\:flex-row {
      flex-direction: row;
    }
    .\@md\/field-group\:items-center {
      align-items: center;
    }
    .\@md\/field-group\:has-\[\>\[data-slot\=field-content\]\]\:items-start:has(
      > [data-slot='field-content']
    ) {
      align-items: flex-start;
    }
  }
}
